<% provide(:title, 'About the Hackathon') %>
<% provide(:head, 'About the Event') %>

<div class="about_summary">
<%= image_tag("about_summary.png", :alt => "11 teams comprised of 41 hackers. Just 24 hours to build & pitch a product") %>
</div>

<div class="content">
  <h3>title of content</h3>
  <p>content paragraph</p>
</div>

<h2>Sponsors</h2>

<div class="content">
  <p>Sponsor descriptions</p>
</div>