<% provide(:title, 'Teams / Projects') %>
<% provide(:head, 'Team Info • Interesting Projects') %>

<div class="content">
  <ul class="teams">
    <li>
      <h3>Life Dash</h3>
      Danny Page, Michael Ansel, Kurt Scheatzer • 
      Dashboard for your day to day life
    </li>
    <li>
      <h3>Awesome Monkey</h3>
      Pat Garcia, Nick Baugh • 
      Game using HTML5 accelerometer detection
    </li>
    <li>
      <h3>Connect Carolina 2.0</h3>
      Colin Arnott, Matt Corallo, Winston Howes • 
      Course signup with a pay to win element (bitcoin support)
    </li>
    <li>
      <h3>Team Fastback</h3>
      Levin Brown, Kai Lieth, Erik Whiffen • 
      Lecture interaction tools, hackathon winner
    </li>
    <li>
      <h3>Think Tux</h3>
      Marcus Summers • 
      portable OS image that saves personalization
    </li>
    <li>
      <h3>Shop Local</h3>
      Kacy Fortner, Eric Harmon, Katie Harp, Shane McDonald • 
      Allows small / local business to sell their goods via a mobile app
    </li>
    <li>
      <h3>Gatherly</h3>
      Kristian Bouw, Pierre Lebrun • 
      Spontaneous meetup app
    </li>
    <li>
      <h3>Remigeo</h3>
      Tyler Pearson • 
      Location based personal notes
    </li>
    <li>
      <h3>Yolo-lana</h3>
      Michael Lai, Jaret Dawson • 
      Lecture control and distribution via mobile
    </li>
    <li>
      <h3>Space Llamas</h3>
      anonymous 1, anonymous 2 • 
      Game with llamas...in space
    </li>
    <li>
      <h3>Duke Blue</h3>
      M. Luke Banjo • 
      ?
    </li>
    <li>
      <h3>This website</h3>
      Michael Keung, Kyle Squizzato • 
      1st rails app MK built from scratch
    </li>
  </ul>


</div>