<% provide(:title, 'Teams / Projects') %>
<% provide(:head, 'Team Info • Interesting Projects') %>

<div class="content">
  <ul class="teams">
    <li>
      <h3>Life Dash</h3>
      Danny Page, Michael Ansel, Kurt Scheatzer
    </li>
    <li>
      <h3>Awesome Monkey</h3>
      Pat Garcia, Nick Baugh
    </li>
    <li>
      <h3>Connect Carolina 2.0</h3>
      Colin Arnott, Matt Corallo, Winston Howes
    </li>
    <li>
      <h3>Team Fastback</h3>
      Levin Brown, Kai Lieth, Erik Whiffen
    </li>
    <li>
      <h3>Think Tux</h3>
      Marcus Summers
    </li>
    <li>
      <h3>Duke Blue</h3>
      M. Luke Banjo
    </li>
    <li>
      <h3>Shop Local</h3>
      Kacy Fortner, Eric Harmon, Katie Harp, Shane McDonald
    </li>
    <li>
      <h3>Gatherly</h3>
      Kristian Bouw, Pierre Lebrun
    </li>
    <li>
      <h3>Remigeo</h3>
      Tyler Pearson
    </li>
    <li>
      <h3>Yolo-lana</h3>
      Michael Lai, Jaret Dawson
    </li>
    <li>
      <h3>Space Llamas</h3>
      anonymous 1, anonymous 2
    </li>
    <li>
      <h3>This website</h3>
      Michael Keung
    </li>
  </ul>


</div>