@import "bootstrap";
@import 'bootstrap-responsive';
html {
    overflow-y: scroll;
}

body { 
  padding-top: 140px; /* high because it needs to include navbar px */
  background: image_url("cloth_alike.png");

  h2 {
    font-size: 1.5em;
    line-height: 2.8em;
    font-weight: normal;
  }

  h3 {
    line-height: 1.4em;
    font-size: 1.2em;
    font-weight: bold;
  }

  p {
    font-size: 1em;
    padding-bottom: 15px;
  }

  h5 {
    font-size: 1.3em;
    line-height: 1.5em;
    font-weight: bold;
  }

  .navbar-inner {
    background-color: #DEDEDE;
    background-image: none;
    background-repeat: no-repeat;
    filter: none;

    padding: 5px 0 5px 0;

    ul {
      padding-top: 40px;

      li {
        padding-left: 30px;

        a, a:link, a:visited, a:active, a:hover {
          color: #3A3A3A;
          font-size: 1.3em;
        }
      }
    }

    


  }

  .page_header {
    background-color: #DA5B34;
    padding: 30px 20px 11px 20px;
    margin: 0 -20px 13px -20px; /* negative indent the amount of the padding to maintain the grid system */
    
    font-size: 1.4em;
    color: #FFFFFF;

    border-bottom: solid #C95430 9px;
  }

  .content {
    padding: 20px 20px 20px 20px;
  }

  .footer {
    margin: 13px -20px 0 -20px;
    padding: 30px 20px 30px 20px;
    background-color: #424242;
    color: #C5C4C3;

    border-top: solid #6E6562 9px;

    a, a:link, a:visited, a:active {
      color: #C5C4C3;
    }
    a:hover {
      color: #0094C1;
      text-decoration: none;
    }

    img {
      padding: 0 5px 0 0;
    }

    ul {
      list-style-type: none;
      margin: -5px 0 0 0;
    }

    .copyright p {
      margin-top: 13px;
      padding: 15px;
      border: 1px solid #6E6562;
      font-size: 1em;
    }
  }

}
