// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//-- ABOUT PAGE --
.about_summary {
  margin-bottom: 15px;
  text-align: center;
}

.sponsors {
  text-align: center;
  margin-bottom: 20px;
}

.sponsor {
    background-color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
  }

.shoeboxed {
  background-color: #00ADE2;
}

.lenovo {
  background-color: #004878;
}
//-- END ABOUT PAGE --


//-- TEAM PAGE --
.teams {
  list-style-type: none;
  margin: -5px 0 0 0;

  li {
    border-top: 1px solid #FFBD8A;
    margin-bottom: 20px;
  }
}


//-- END TEAM PAGE --

//-- PHOTOS --
.spud_photo_albums, .spud_photo_album_thumbnail {
  float:left;
  margin: 0 10px 10px 0;
}

.spud_photo_album_thumbnail {
  border: 1px solid #484848;
}