<%= link_to "Home", root_path, :class => 'logo' %>

<ul class="nav">
  <li>
    <%= link_to("About", root_path) %>
  </li>
  <li>
    <%= link_to("Teams", teams_path) %>
  </li>
  <li>
    <%= link_to("Pictures", pictures_path) %>
  </li>
</ul>